@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'VAL';
  src: url('/VAL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-val: 'VAL', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #1800ad;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::-webkit-scrollbar {
  display: none;
}
