node_modules
__pycache__
manimenv
.env
/venv
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
/build/
/dist/
*.egg-info/
/tests/__pycache__/
/tests/*.pyc
/tests/data/
/tests/temp/
coverage.xml
media/
venv/
venv
manimEnvironment
manimEnvironment/
/manimEnvironment